## Cleaning data

### 1. Read data

In [1]:
import pandas as pd
data = pd.read_csv("data/rumahcom.csv")

### 2. Delete null row

In [2]:
data = data[data["harga"].notnull()]
data = data[data["lokasi"].notnull()]
data = data[data["luas_bangunan"].notnull()]
data = data[data["luas_tanah"].notnull()]
data = data[data["kamar"].notnull()]
data = data[data["kamar_mandi"].notnull()]
data = data[data["listrik"].notnull()]
data = data[data["interior"].notnull()]
data = data[data["parkir"].notnull()]
data = data[data["sertifikat"].notnull()]

### 3. Delete unnecessary column

In [3]:
# Delete column web-scraper-order, web-scraper-start-url, title, title-href, nama
data = data.drop(["web-scraper-order", "web-scraper-start-url", "title", "title-href", "nama"], axis=1)

### 4. Clean lokasi

In [4]:
# Split the address into parts using comma as the delimiter
data["lokasi"] = data["lokasi"].str.split(",")
# Keep the last two parts of the address and join them back into a single string
data["lokasi"] = data["lokasi"].apply(lambda x: ", ".join(x[-2:]))
# Delete behind the comma from lokasi
data["lokasi"] = data["lokasi"].str.split(",").str[0]
# Remove whitespace from the beginning and end of the string of lokasi
data["lokasi"] = data["lokasi"].str.strip()

### 5. Clean harga

In [18]:
# Clean harga M
for i, value in enumerate(data["harga"]):
    if isinstance(value, str):
        try:
            data.loc[i, "harga"] = float(value.replace("Rp", "").replace(" ", "").replace("M", "").replace(",", ".")) * 1000000000
        except ValueError:
            pass

In [20]:
# Clean harga jt
for i, value in enumerate(data["harga"]):
    if isinstance(value, str):
        try:
            data.loc[i, "harga"] = float(value.replace("Rp", "").replace(" ", "").replace("jt", "").replace(",", ".")) * 1000000
        except ValueError:
            pass

In [ ]:
# Clean harga rb
data = data[~data["harga"].astype(str).str.contains("rb")]

### 6. Clean luas_bangunan

In [6]:
# Remove after whitespace from luas_bangunan
data["luas_bangunan"] = data["luas_bangunan"].str.split(" ").str[0]

### 7. Clean luas_tanah

In [7]:
# Remove after whitespace from luas_tanah
data["luas_tanah"] = data["luas_tanah"].str.split(" ").str[0]

# Remove , from luas_tanah
data["luas_tanah"] = data["luas_tanah"].str.replace(",", "")

### 8. Clean kamar

In [8]:
data["kamar"] = data["kamar"].str.split(" ").str[0]

### 9. Clean kamar_mandi

In [9]:
data["kamar_mandi"] = data["kamar_mandi"].str.split(" ").str[0]

### 10. Clean listrik

In [10]:
data["listrik"] = data["listrik"].str.split(" ").str[0]

### 11. Convert to numerical data

In [23]:
# Convert data to integer
# data["harga"] = data["harga"].astype(float)
# data["kamar_mandi"] = data["kamar_mandi"].astype(int)
# data["kamar"] = data["kamar"].astype(int)
# data["luas_tanah"] = data["luas_tanah"].astype(int)
# data["luas_bangunan"] = data["luas_bangunan"].astype(int)
# data["parkir"] = data["parkir"].astype(int)
# data["listrik"] = data["listrik"].astype(int)

             harga      lokasi luas_bangunan luas_tanah kamar kamar_mandi  \
1      490000000.0      Sleman            90        100     3           2
2      780293930.0      Sleman            60         90     3           1
3  Rp 780,29393 jt      Sleman            84        100     3           2
4     1799000000.0      Sleman            84        100     3           2
5     1799000000.0  Yogyakarta           154        130     3           3

  listrik        interior  parkir                  sertifikat
1    1300  Tak Berperabot     2.0  SHM - Sertifikat Hak Milik
2    1300  Tak Berperabot     1.0  SHM - Sertifikat Hak Milik
3    1300  Tak Berperabot     2.0  SHM - Sertifikat Hak Milik
4    1300  Tak Berperabot     1.0  SHM - Sertifikat Hak Milik
5    2200  Tak Berperabot     2.0  SHM - Sertifikat Hak Milik

ValueError: cannot convert float NaN to integer

### 12. Export cleaned data

In [12]:
# Save the updated data to a new CSV file
data.to_csv("data/updated_file.csv", index=False)
updated_data = pd.read_csv("data/updated_file.csv")
print(updated_data.head())

             harga      lokasi  luas_bangunan  luas_tanah  kamar  kamar_mandi  \
0      490000000.0      Sleman           90.0       100.0    3.0          2.0
1      780293930.0      Sleman           60.0        90.0    3.0          1.0
2  Rp 780,29393 jt      Sleman           84.0       100.0    3.0          2.0
3     1799000000.0      Sleman           84.0       100.0    3.0          2.0
4     1799000000.0  Yogyakarta          154.0       130.0    3.0          3.0

   listrik        interior  parkir                  sertifikat
0   1300.0  Tak Berperabot     2.0  SHM - Sertifikat Hak Milik
1   1300.0  Tak Berperabot     1.0  SHM - Sertifikat Hak Milik
2   1300.0  Tak Berperabot     2.0  SHM - Sertifikat Hak Milik
3   1300.0  Tak Berperabot     1.0  SHM - Sertifikat Hak Milik
4   2200.0  Tak Berperabot     2.0  SHM - Sertifikat Hak Milik